body {
  background-color: #242b4e;
}

.background-img {
  margin-top: 50px;
  background-color: #f4f2fe;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  min-height: 60vh;
  border-radius: 6px;
  box-shadow: 7px 10px 7px rgba(0, 0, 0, 0.9);
}

@media (max-width: 768px) {
  .background-img {
    border-radius: 60px;
    border: 5px solid white;
    min-height: 60vh;
  }
}

.image {
  outline: 1px solid white;
  outline-offset: 0.2rem;
  text-align: center;
  width: 200px;
  height: 200px;
  -webkit-border-radius: 75%;
  border-radius: 75%;
  box-shadow: 0 0 0 1px #eee;
  background: url("../images/mdu.jpg");
  background-size: cover;
  margin: auto;
  align-content: center;
}

.trick {
  display: inline-block;
  vertical-align: middle;
  height: 150px;
}

.image:hover {
  outline: 1px solid white;
  outline-offset: 0.2rem;
  box-shadow: 3px 7px 20px 0.9px #3f3f3f;
}

.image:hover {
  outline: 1px solid white;
  outline-offset: 0.2rem;
  outline: 1px solid white;
  outline-offset: 0.2rem;
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
  -webkit-transition: 1.6s ease-in-out;
  transition: 1.6s ease-in-out;
}

.trick:hover img {
  outline: 1px solid white;
  outline-offset: 0.2rem;
  -webkit-transform: scale(1);
  transform: scale(1);
}

#overlay {
  margin-top: 20px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 0 0 0 0;
  opacity: 1;
  -webkit-transition: opacity 2.25s ease;
  transition: opacity 10.25s ease;
}

#box:hover #overlay {
  outline: 1px solid black;
  outline-offset: 0.2rem;
  opacity: 1;
}

h1 {
  font-size: 4rem;
}

h3 {
  color: #e0ad47;
  font-size: 24px;
  text-align: center;
  opacity: 0.7;
}

.info-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 35px;
}

.middle-contant {
  color: hsl(40, 83%, 54%);
  text-align: center;
  margin-top: 30px;
  text-shadow: 7px 7px 7px rgba(0, 0, 0, 0.7);
}

.about-link {
  position: relative;
  background: #fff;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 400;
  padding: 25px 30px;
  transition: 0.5s;
  margin-right: 30px;
}

.about-link:hover {
  background: var(--clr);
  color: var(--clr);
  text-decoration: none;
  letter-spacing: 0.25em;
  box-shadow: 0 0 35px var(--clr);
}

.about-link::before {
  content: "";
  text-decoration: none;
  position: absolute;
  background: #27282c;
  inset: 2px;
  z-index: 1;
}

.about-link span {
  position: relative;
  z-index: 1;
}

.about-link i::before {
  content: "";
  position: absolute;
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background: #27282c;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

.about-link:hover i::before {
  width: 20px;
  left: 20%;
}

.about-link i::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 10px;
  height: 4px;
  background: #27282c;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

.about-link:hover i::after {
  width: 20px;
  left: 80%;
}

.contact-link {
  position: relative;
  background: #fff;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 400;
  padding: 25px 25px;
  transition: 0.5s;
}

.contact-link:hover {
  background: var(--clr);
  color: var(--clr);
  text-decoration: none;
  letter-spacing: 0.25em;
  box-shadow: 0 0 35px var(--clr);
}

.contact-link::before {
  content: "";
  text-decoration: none;
  position: absolute;
  background: #27282c;
  inset: 2px;
  z-index: 1;
}

.contact-link span {
  position: relative;
  z-index: 1;
}

.contact-link i::before {
  content: "";
  position: absolute;
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background: #27282c;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

.contact-link:hover i::before {
  width: 20px;
  left: 20%;
}

.contact-link i::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 10px;
  height: 4px;
  background: #27282c;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

.contact-link:hover i::after {
  width: 20px;
  left: 80%;
}

p {
  position: relative;
  color: white;
  height: 55vh;
  width: 500px auto;
  padding: 40px;
  margin: -20px 100px;
  border-radius: 30px;
  background-color: white;
  box-shadow: 7px 10px 7px rgba(0, 0, 0, 0.9);
}

.wrap-gradient {
  display: block;
  margin-top: -415px;
  opacity: 0.9;
}

@media (max-width: 990px) {
  .wrap-gradient {
    margin: 30px;
  }
}

.gradient {
  background-color: #e03c31;
  padding: 10px;
  font-size: 25px;
}

.fa-linkedin {
  color: white;
}
@media (max-width: 990px) {
  .fa-linkedin,
  .fa-spotify,
  .fa-instagram,
  .fa-apple,
  .fa-square-whatsapp,
  .fa-envelope {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 990px) {
  .gradient,
  .gradient-1,
  .gradient-2,
  .gradient-3,
  .gradient-4,
  .gradient-5 {
    margin: 10px;
    border-radius: 60px;
  }
}

.gradient-1 {
  background-color: #ffffff;
  padding: 10px;
  font-size: 25px;
}

.fa-spotify {
  color: blue;
}

.gradient-2 {
  background-color: #007749;
  padding: 10px;
  font-size: 25px;
}

.fa-instagram {
  color: white;
}

.gradient-3 {
  background-color: #001489;
  padding: 10px;
  font-size: 25px;
}

.fa-apple {
  color: white;
}

.gradient-4 {
  background-color: #ffb81c;
  padding: 10px;
  font-size: 25px;
}

.fa-square-whatsapp {
  color: green;
}

.gradient-5 {
  background-color: #000000;
  padding: 10px;
  font-size: 25px;
}

.fa-envelope {
  color: #0652a9;
}

footer {
  color: #f4f2fe;
  font-size: 13px;
  font-weight: bold;
  margin-top: 80px;
  padding: 0 10px;
}

.footer-link {
  color: #f4f2fe;
  text-decoration: underline;
}

.footer-link:hover {
  color: #fd1392;
  cursor: pointer;
  text-decoration: none;
}
